#header {margin-top: 20px; margin-bottom: 20px;}
#headerTitle {position: relative; display: inline-block; margin-left: 200px;}
#navigation {display: inline-block; }
.menu {display: inline-block; margin-right: 10px;}
#snslogo {display: inline-block; position: absolute; right: 0; margin-top: 38px; margin-right: 200px;}

#banner {margin: 0 auto; margin-left: 60px;}     

#contents {width:1164px; margin:0 auto;}     
#main {width: 100%; height: 150px; background-color: #4C665B;}
#a {text-align: center; color: white; padding-top: 50px; font-size: 20px;}
#b {text-align: center; color: white; padding-top: 10px;padding-bottom: 30px; font-size: 15px;}

#left-image {width: 20%; float:left;}
#right-text {width: 80%; float:left; left: 60px; position: relative;}
.clear {clear:both;}
div #cont {position: relative; left:25%; margin-bottom:180px;}
#mainimg {text-align: center;}
#imagetext {text-align: center;}

#ad {text-align: center; margin-top: 900px;}
#ad1 {padding-bottom: 30px;}
#ad2 {padding-bottom: 30px;}
#ad3 {padding-bottom: 30px;}
#c {font-size: 30px;}
#line {padding-top: 10px; padding-bottom: 30px;}

#information {text-align: center;}
#gift {margin-left: 100px;}
#letter {padding-right: 100px; float: right; margin-top: 10px; padding-top: 50px;}
#letter2 {float: left; padding-top: 50px; margin-left: 100px;}

.image {float: left;}
.image2 {float: right;}
.image3 {float: left;}
.text {float: left; padding-left: 90px; padding-top: 80px;}
.text2 {float: right; padding-right: 50px; padding-top: 200px;}
.text3 {float: left; padding-left: 90px; padding-top: 130px;}

.clear {clear: both;}

#line2 {padding-top: 30px; padding-bottom: 30px;}

#footer {text-align: center;}
.e {padding-top: 20px; padding-bottom: 25px;}
